asgiref==3.9.2
brotli==1.2.0
cffi==2.0.0
colorama==0.4.6
cssselect2==0.8.0
Django==5.2.7
fonttools==4.61.1
gunicorn==25.0.3
packaging==26.0
pillow==12.0.0
psycopg2==2.9.11
pycparser==2.23
pydyf==0.12.1
pyphen==0.17.2
qrcode==8.2
sqlparse==0.5.3
tinycss2==1.5.1
tinyhtml5==2.0.0
tzdata==2025.2
weasyprint==67.0
webencodings==0.5.1
whitenoise==6.11.0
zopfli==0.4.0
